link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
div(class="d-flex flex-column", style="position: fixed; top: 0; left: 0; height:100%; width: 20%; z-index: 1; background-color: black; overflow-x: hidden;")
  ul(class="nav, flex-column")
    div(class="navbar-brand text-white")
      h2 Welcome,
      h2 #{users.userName.split(" ")[0]}
    div.mb-1
      a(class="nav-link text-white mb-1", href="/course/dashboard") Dashboard
        span.material-icons(style="float: left;") home
    div.mb-1
      a(class="nav-link text-white", href="/course/new") New Courses
        span.material-icons(style="float: left;") download
    div.mb-1
      a(class="nav-link text-white", href="/course/delete") Delete Courses
        span.material-icons(style="float: left;") delete
    div.nav-item
      a(class="nav-link text-white disabled", href="#") Manage Lessons
        span.material-icons(style="float: left;") description
    div.mb-1
      a(class="nav-link text-white", href="/user/edit") Edit Profile
        span.material-icons(style="float: left;") person
    div.mb-1
      a(class="nav-link text-white", href="/user/delete") Delete Profile
        span.material-icons(style="float: left;") person_remove
    a(class="btn btn-primary", type="submit", href="/user/new", style="position: fixed; bottom: 10%; width: 10%;") Logout