<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="//cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
</head>
<body>
    <div class="container">
        <form action="">
            <div class="card" style="margin: 5%; padding-top: 2%; padding-bottom: 2%;">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h2>Update Course</h2>
                        <div class="mb-3">
                            Select Course
                            <select class="form-control" name="courseName">
                                <option value="1">Node.js</option>
                                <option value="2">Angular.js</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="row g-2">
                                <div class="col-8">
                                    Course Name<input class="form-control" name="courseName" type="text" />
                                </div>
                                <div class="col">
                                    Category
                                    <select class="form-control" name="courseCategory">
                                        <option value="1">Web Development</option>
                                        <option value="2">Data Science</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            One Liner<input class="form-control" name="courseOneLiner" type="text" />
                        </div>
                        <div class="mb-3">
                            <div class="row g-3">
                                <div class="col">
                                    Duration in Hours<input class="form-control" name="courseDuration" type="text" />
                                </div>
                                <div class="col">
                                    Language<input class="form-control" name="courseLanguage" type="text" />
                                </div>
                                <div class="col">
                                    Upload Cover Photo<input class="form-control" name="courseCoverPhoto" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            Description
                            <textarea class="form-control" name="courseDescription"></textarea>
                            <script type="text/javascript">
                                CKEDITOR.replace( 'courseDescription' );
                            </script>
                        </div>
                        <button class="btn btn-primary" type="submit" style="float: right;">Update Course</button>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</body>
</html>